{% extends "festivals/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create new interpret</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="{% url 'create-interpret'%}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form|crispy }}
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="sumbit">Continue</button>
                </div>
            </form>
            <a href="{% url 'interprets-show' %}">Go Back</a>
        </div>
    </div>
</div>
{% endblock content %}